# Dependencias
/vendor
/node_modules

# Vite build output (se vuelve a construir en CI)
/public/build

# Archivos de entorno locales
.env
.env.*
!.env.example

# Cache y logs
/storage/framework/*
/storage/logs/*
/bootstrap/cache/*

# Git
.git
.gitignore

# Otros
Dockerfile*
.dockerignore
README.md
